//overview page
#hb-page-title.extra-large-padding h2 {
	font-size: 18px;
  	line-height: 25px;
  	width: 350px;
}
.ts-1 .flex-control-nav {
	bottom: 0;
}
.hb-testimonial-box .testimonial-author {
	top: 0;
}